<section class="modal">
    <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
            <div>
                <div>
                    <label for="txt-user-name">
                        Nombre de usuario
                        <small class="error-detail"></small>
                    </label>
                </div>
                <div>
                    <input 
                        type="text" 
                        id="txt-user-name" 
                        class="input"
                        placeholder="Ingresar un nombre de usuario"
                    />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" id="btn-join-to-chat">Unirse</button>
        </div>
    </div>
</section>